---
layout: default
title: Laboratório de Biologia do Reconhecer
description:
comments: true
---

<!-- Pagination links -->
{% include paginator.html -%}



<div class="list-group">
	{% for post in paginator.posts %}
	<div class="list-group-item">
	<a href="{{ post.url }}">
		<h4 class="list-group-item-heading">{{ post.title }}</h4>
		<h6 class="list-group-item-heading">{{ post.published | date: '%B %d,
			%Y' }} | (Atualizado em: {{ post.date | date: '%B %d, %Y' }})</h6></a>
		{% for tag in post.tags %}
		<a class="label label-default" href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
		{% endfor %}
		{% if post.noimage %}
		{% else %}
		<img
			alt="{{ post.title }}"
			src="/assets/images/{{post.id}}/top.jpg" class="img-responsive">
		{% endif %}
		<p>{{ post.excerpt | strip_html}}</p>
		<a href="{{ post.url }}">Ler mais...</a>

	</div>
	{% endfor %}
</div>

<!-- Pagination links -->
{% include paginator.html -%}
